!!! 5
%html
  %head
    %title 
      Markov Aurelius Speaks
    %link{rel: "stylesheet", type: "text/css", href: "./css/application.css"}
    %link{rel: "stylesheet", type: "text/css", href: "./css/foundation.css"}

  %body
    .row
      .small-9.medium-6.small-centered.medium-centered.columns
        %blockquote.triangle-obtuse= make_sentence
    .row
      .small-6.small-offset-6.medium-4.medium-offset-8.columns
        %img{:src => "./img/marcus_med.png", alt: "I think real good and stuff.", title: "Caesar Marcus Aurelius"}

  %footer
    .row
      .small-12.medium-6.small-centered.medium-centered.columns
        %a{href: 'https://twitter.com/markovQaurelius'}
          philosophizing on twitter
        |
        %a{href: 'https://github.com/chrisbodhi/stoic_generator'}
          view the source
        |
        %a{href: 'https://twitter.com/chrisbodhi'}
          built by @chrisbodhi