!!! 5
%html
  %head
    %title 
      Markov Aurelius Speaks
    / Full URLs for BERG Cloud's render stack
    %link{rel: "stylesheet", type: "text/css", href: "https://markovqaurelius.herokuapp.com/css/lp.css"}
    %link{rel: "stylesheet", type: "text/css", href: "https://markovqaurelius.herokuapp.com/css/foundation.css"}

  %body
    .row
      .small-8.small-centered.columns
        .all
          %img{:src => "https://markovqaurelius.herokuapp.com/img/marcus_med.png", alt: "I think real good and stuff.", title: "Caesar Marcus Aurelius"}
          .wrap
            .bust 
              .top
              .front
                =make_sentence